---
layout: default
---

<style>
  .home {
    padding: 20px;
  }



  .home .post-list li { /* Adjusted margin between blog posts */
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }



  .home .post-meta { /* Adjusted font size and color of post date */
    font-size: 14px;
    color: #999;
    float: right;
  }

  .home .post-link { /* Adjusted font size and color of post title */
    font-size: 20px;
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
  }


  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .home .post-link {
      font-size: 18px;
    }
  }

  .home .intro {
  /* Adjusted margin between intro image and text */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify; 
  }

  @media screen and (min-width: 768px) {
  .home .intro img {  /* Adjusted size of intro image */
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 40px;
  }}

  
  .home .intro-text {
    flex: 1;
  }

  .home .post-separator { /* Adjusted margin between blog posts and section title */
    margin: 40px 0;
    border-bottom: 2px solid #ccc;
  }

  .home .section-title {  
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .home .post-list {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Adjusted margin between section title and blog posts */
  }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if site.paginate %}	
    {% assign posts = paginator.posts %}	
  {% else %}	
    {% assign posts = site.posts %}	
  {% endif %}
  
  {%- if posts.size > 0 -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <!-- ... (previous pagination code) ... -->
      </div>
    {%- endif %}

  {%- endif -%}

</div>
